/* 定义公共样式 */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration: none;}
/* 左侧边栏样式 */
aside{
  float:left;
  width:4%;
  height:950px;
  background-color:dodgerblue;
}
aside ul{
  text-align: center;
}
aside ul li{
  height:80px;
}
aside ul li:first-child{line-height: 80px;}
aside a{
  color:#fff;
  font-size:14px;
}
aside .iconfont{
  font-size:30px;
}
aside a span:last-child{
  display: block;
}
aside ul li:last-child{
  margin-top:380px;
}
/* 右侧主体样式 */
.wrap{
  float:left;
  width:96%;
}
/* 右侧主体--header部分 */
header{
  height:45px;
  background-color:#f3f3f3;
  border-bottom:3px #e3e3e3 solid;
}
/* 右侧主体--section部分 */
.section{
  padding:0 70px;
  padding-top:30px;
  height:902px;
  box-sizing: border-box;
  background-color:#eceff3;
}
/* section--summary信息展示 */
.summary{
  height:90px;
  color:#000;
  background-color:#fff;
}
.summary li{
  float:left;
  width:12%;
  height:75px;
  text-align: center;
  padding-top:15px;
}
.summary .sum_sp1 span{
  display:inline-block;
  width:12px;
  height:12px;
  border-radius:50%;
  background-color:#f00;
}
.summary .sum_sp1{
  font-size:15px;
}
.summary .sum_sp2{
  display:block;
  font-size:32px;
}
/* section--info信息展示 */
.info{
  margin-top:20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* info信息展示内部子元素的宽高样式 */
.carousel,.tool,.log,.finance,#financeChart{
  width:36%;
  min-width:400px;
}
.msg,.service{
  width:26%;
  min-width:300px;
}
.carousel,.tool,.msg{
  height:300px;
  background-color:#fff;
}
.finance,.log,.service{
  height:420px;
  margin-top:15px;
  background-color:#fff;
}
/* 工具项 */
.tool{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  padding:2% 0;
  box-sizing: border-box;
}
.tool li{
  width:21%;
  text-align:center;
}
.tool li a{
  display:block;
  color:#6a6a6a;
  margin-top:20%;
  font-size:14px;
}
.tool .iconfont{
  display:block;
  font-size:40px;
}
/* 财务报表 */
#financeChart{
  height:410px;
}
