<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>whouse主页</title>
  <link rel="stylesheet" href="../iconfont/iconfont.css">
  <link rel="stylesheet" href="../css/index.css">
  <script src="../assets/javascripts/jquery-1.11.3.js"></script>
  <script src="../assets/javascripts/echarts.min.js"></script>
</head>
<body>
  <!-- 左侧边栏部分 -->
  <aside>
    <ul>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe796;</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe78b;</span>订单
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe79d;</span>商品
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe78b;</span>采购
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe7b6;</span>库存
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe78b;</span>供应
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="iconfont">&#xe7b8;</span>设置
        </a>
      </li>
    </ul>
  </aside>
  <!-- 右侧主体部分 -->
  <div class="wrap">
    <!-- 右侧主体--header部分 -->
    <header>右侧主体头部分</header>
    <!-- 右侧主体--section部分 -->
    <div class="section">
      <!-- section--summary信息展示部分 -->
      <div class="summary">主页数据</div>
      <!-- section--info信息展示部分 -->
      <div class="info">
        <div class="carousel">轮播图</div>
        <div class="tool">工具项</div>
        <div class="msg">系统提示信息</div>
        <div class="finance">
            <a href="javascript:sale()">月销售额报表</a>
            <div id="financeChart"></div>
        </div>
        <div class="log">日志部分</div>
        <div class="service">服务中心</div>
      </div>
    </div>
  </div>
  <!-- 引入生成财务报表的js文件 -->
  <script src="../assets/javascripts/finance.js"></script>
</body>
</html>