<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>whouse注册</title>
	<link rel="stylesheet" href="../assets/css/register.css">
	<script>    
		function msg1(){
			//失去焦点时，做非空验证，结果显示在span中
			//1.获取input的value
			var val=uname.value;
			//2.验证是否为空
			if(val==""){
					//3.把结果放入span
					msg.innerHTML="请输入登录名";
			}else{
					msg.innerHTML="输入正确";
			}
		}
	  //获取焦点时，在span中提示用户名6-12位
	</script>
</head>
<body>
	<div id="container">
		<table></table>
		<div style="text-align:right">
			<span href="">已注册，直接</span>
			<a id="h2" href="javaScript:;">登录</a>
		</div>
		<div>			
			<div id="black">
				<h4 style="text-align: center">欢迎注册whouse</h4>
				<table id="table_position" >
					<tr>
						<td colspan="2">
							<input type="text" onblur="msg1()"  onfocus="msg2()" id="uname" placeholder="请输入登录名">
							<span id="msg"></span>
						</td>                
					</tr>
					<tr>
						<td colspan="2">
							<input type="text"  id="phone" placeholder="请输入手机号">
							<span ></span>
						</td>			
					</tr>
					<tr>
						<td><input type="text" id="cpwd" placeholder="请输入验证码"></td>
						<td><a href="">获取验证码</a></td>
					</tr>
					<tr>
						<td colspan="2"><input type="text" id="password" minlength="8" maxlength="18" placeholder="设置8-18位数字和字母组合的密码"></td>			
					</tr>
					<tr>
						<td colspan="2">
							<input type="checkbox" name="hobby" value ="eat">同意《用户协议》和《客户隐私》
						</td>			
					</tr>
					<tr>
						<td colspan="2">
							<button>注册</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>